.logo-color {

    width: 100%;
    
    img {
        max-height: 15vh;
        display: block;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 4vh;
        margin-bottom: 15px;
    }
}